<h1>{{ title }}</h1>
<h2>Enter your Data</h2>
<form id="bodyMass" action="/calculate">
    <label for="height">Height in meters:</label>
    <input id="height" type="number" step="0.01" value="0" name="height"></input><br>
    <label for="weight">Weight in Kilograms:</label>
    <input id="weight" type="number" step="0.01" name="weight" value="0"></input><br>
    <button id="calculate" class="btn btn-primary">Calculate</button>




</form>

