<html lang="">
<head>
    <title>Body Mass Index Calculator</title>
    <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type = "text/css" rel = "stylesheet">

    <link rel="stylesheet" type="text/css" href="stylesheet/bmi-style.css">
</head>

{{{body}}}

</html>

